#main-Container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 90vw;
}

header{
    width: 100%;
    
}



/*  */
/* Nav bar */
/*  */
.header{
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-align: center;
}
.header li{        
    display: inline-block;
    padding: 1rem;
    
}
.header li a{
    font-size: 1.3rem;
    color: white;
    padding: 1rem;
    text-decoration: none;
} 
.header li a:hover{
    background-color: #111;
    
}



/*  */
/* Brand tittle */
/*  */
header h1{
    
    background-color: darkkhaki;
    color: white;
    text-align: center;
    margin: 0;
    padding: 4rem;
    left: 0;
    font-size: 5rem;
    width: 100%;  
    
    
}


/*  */
/* Products managing */
/*  */
.product-section{
    margin-top: 100px; 
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    /* background-color: #333; */
}
 .wrap-products{    
    width: 80%;    
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;       
    /* background-color: antiquewhite; */
}
 .each-product{
    background-color: white;
    width: 40%;
    margin-bottom: 40px;
    margin-left: 5%;
    text-align: center;    
    box-shadow: 3px 3px 10px #333;
} 
.image{
    width: 100%;
    
} 
.image img{
    width: 80%;
}
/* .product-bottom {
    margin: 10px;
    
} */
.span{
    float: left;
    margin: 15px;
    font-size: 1.2rem;
    font-weight: bolder;
}
.addCrt-btn{    
    float: right;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: rgb(203, 177, 86);
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    
}



/*  */
/* Cart popUp */
/*  */
.popUp-cart{     
    background-color:white;
    height: 80vh;
    width: 50vh;
    position: fixed;
    bottom: 2vh;
    right:2vh;
    /* position: relative;  */    
    display: none;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
    box-shadow: 2px 2px 8px black;
    border: 1px solid black;
    border-radius: 5px;
    
}
.popUp-cart h2{
    position: absolute;
    top: 0;
    text-align: center;
    color:#111;
    
}
.close{
    position: absolute;
    top:10px;
    right: 10px;
    background-color:red;
    padding: 0.4rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    color: white;
    z-index: 1;
}
.table-head{
    position: absolute;
    top:100px;   
    text-align: center;   
    color: #333;
    

}
.table-head span{
    padding-left: 40px;    
    font-size: 1.2rem;
    text-decoration: underline;
}
.popUp-cart .payment-btn{
    position: absolute;
    bottom: 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: bolder;
    background-color: rgb(15, 118, 84);
    color: aliceblue;
    border-radius: 10px;
    padding: 10px;

}



/*  */
/* Check cart button */
/*  */
.check-cart-btn{
   margin-bottom: 10px;
    background-color: #333;
    border: 2px solid aliceblue;
    border-radius: 20px;
    padding: 1.2rem;
   

    
}
.check-cart-btn a{
    background-color: #111;
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 2px solid aliceblue;
    border-radius: 10px;
    padding: 0.6rem;
    box-shadow: 2px 2px 3px aliceblue;
}
.check-cart-btn a:hover{
    background-color:#333;
    box-shadow: 0px 0px 1px aliceblue;
    
}



/*  */
/* footer style */
/*  */
footer{
      background-color: grey; 
      /* position: absolute; */
      bottom: 0;
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;    
}

.footer-tittle{
    font-size: 1.5rem;
    width: 50%;
    color:rgb(159, 236, 236);
 
}
.footer-links li{   
    margin-left: 100px;
    display: inline;
}
.footer-links li a{
    font-size: 1.2rem;
    text-decoration: none;
    color:bisque;
}


