*{
    box-sizing: border-box  ;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
    background-color: black;
    /* color: rgb(75, 131, 180); */
    font-size: 1.2rem;
    font-weight: bolder;
}
.heart{
    position: fixed;    
    top: -1vh;
    font-size: 1rem;    
    transform: translateY(-5vh);
    animation: fall 3s linear backwards;
}
@keyframes fall{
    to{
        transform: translateY(105vh);
    }
}


